/.idea/.gitignore
/.idea/dustbin.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

/migrations/alembic.ini
/migrations/env.py
/migrations/README
/migrations/script.py.mako

/app/conf/settings.py